

<h1 class="title"><span>BIENVENIDOS</span></h1>
<%= image_tag "JuanPabloII.jpg",:size => "120x120",:class =>"left"  %>
<h1>Sorteos</h1>

<% @sorteos.each do |sorteo| %>
<div>
	<br>
	<h1>Sorteo1</h1>
</div>
<% end %>